.bluebox{
border: 2px solid blue;
width: 350px;
height: 150px;
border-bottom-left-radius: 15px;
border-top-right-radius: 15px;



}

.bluebox:hover{
    width: 200px;
height: 200px;
border: 2px solid brown;

border-radius: 20px;

content: none;

}




h2{
    padding-left: 20px;
    color:pink;
}

h3{
    color: red;
    text-align: center;

}

h1{
    color: brown;
}